body{
	padding: 0;
	margin: 0;
}
#pixdraw{
	z-index: 0;
}
#palette{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: 1px solid black;
	width: 70px;
	height: 401px;
	background-color: white;
}
#fore{
	position: relative;
	top: 5px;
	left: 5px;
	width: 58px;
	height: 25px;
	border: 1px solid black;
	border-bottom: 0;
}
#back{
	position: relative;
	top: 5px;
	left: 5px;
	width: 58px;
	height: 25px;
	border: 1px solid black;
	border-top: 0;
}
#mover{
	position: relative;
	float: left;
	top: 10px;
	left: 5px;
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
#drawer{
	position: relative;
	float: left;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
#eraser{
	position: relative;
	float: left;
	top: 15px;
	left: 5px;
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
#toggle-grid{
	position: relative;
	float: left;
	top: 15px;
	left: 10px;
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
.colorpicker{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	visibility: hidden;
}
